{{!-- Add layout --}}

{{!< default}}

{{^is "paged"}}

<section id="cover" class="cover u-flex-wrap" style="min-height:100vh">
    {{!-- Image featured --}}
    {{#if @blog.cover_image}}
        <div class="u-absolute0 u-block u-bg-gradient" style="background-color:#000"></div>
        <div class="cover-background cover-lazy u-absolute0 u-bg-cover u-block" style="opacity:0.5" data-original="{{@blog.cover_image}}"></div>
    {{/if}}

    <div class="cover-wrap u-flex-aling-center">
        {{!-- Blog name --}}
        <!--
        <h1 id="title-home" class="cover-title animated bounceInDown">{{@blog.title}}</h1>
        <div id="home-typed" class="cover-title animated bounceInDown u-hide"><span id="home-title-typed"></span></div>
        -->
        {{!-- Blog description --}}
        <p class="cover-description animated bounceIn">{{@blog.description}}</p>
        {{!-- Btn suscribe --}}
        <a id="btn-home" href="{{@blog.url}}/subscribe" class="btn-subscribe-home animated bounceIn u-textUppercase">{{t "Subscribe"}}</a>
    </div>

    {{!-- Scroll --}}
    <a href="#ScrollBody" class="scrolltop animated slideOutDown infinite home-down u-h-b-lg">
        <span class="svg-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path d="M15.976 2.656c-7.366 0-13.337 5.97-13.337 13.337s5.97 13.337 13.337 13.337 13.337-5.97 13.337-13.337-5.97-13.337-13.337-13.337zM15.976 28.262c-6.765 0-12.27-5.504-12.27-12.27s5.505-12.27 12.27-12.27 12.27 5.505 12.27 12.27c0 6.765-5.505 12.27-12.27 12.27z"></path>
                <path d="M15.214 19.175l0.754 0.754 6.035-6.035-0.754-0.754-5.281 5.281-5.256-5.256-0.754 0.754 3.013 3.013z"></path>
            </svg>
        </span>
    </a>

</section>

{{/is}}

{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop"}}
