   .header-logo img {
    display:none
   }
   .header-logo-bg {
    background-position:top;
    background-size:100%;
    display:inherit!important;
    height:42.3915px;
    width:150px
   }
   .header.toolbar-shadow {
    -webkit-box-shadow:0 0 32px rgba(0,0,0,.15);
    box-shadow:0 0 32px rgba(0,0,0,.15)
   }
   .nav-mob {
    background-color:#eee
   }
   .nav-mob-follow a {
    color:#fff!important
   }
   .header.toolbar-shadow {
    background-color:#fff
   }
   .header.toolbar-shadow .nav-mob-toggle span {
    background-color:#000
   }
   .header.toolbar-shadow a {
    color:#000
   }
   .header.toolbar-shadow a:hover {
    color:#212121
   }
   .header.toolbar-shadow .header-menu ul a:before {
    background:#000
   }
   .header.toolbar-shadow .header-logo-bg {
    background-position:bottom
   }
   .header.toolbar-shadow .header-logo span,.header.toolbar-shadow .header-navigation .navigation-link:hover {
    color:#212121
   }
   .header.toolbar-shadow .header-navigation .navigation-link.active {
    border-bottom-color:#0277bd;
    color:#212121
   }
   .header.toolbar-shadow .header-search {
    background:#f7f7f7
   }
   .header.toolbar-shadow .header-search:hover {
    background-color:#ebebeb
   }
   .header.toolbar-shadow .header-search .search-icon,.header.toolbar-shadow .header-search input::-webkit-input-placeholder {
    color:#757575
   }
   .header.toolbar-shadow .header-search .search-icon,.header.toolbar-shadow .header-search input:-ms-input-placeholder,.header.toolbar-shadow .header-search input::-ms-input-placeholder {
    color:#757575
   }
   .header.toolbar-shadow .header-search .search-icon,.header.toolbar-shadow .header-search input::placeholder {
    color:#757575
   }
   .header.toolbar-shadow .header-social a {
    color:#039be5
   }
   .header.toolbar-shadow .header-social a:hover {
    background-color:hsla(0,0%,80%,.15);
    color:#0277bd
   }
   